<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>

<main id="root"></main>
<div class="footer">
  <div class="github-holder">
    <a href="https://github.com/HarrisonBui/FlashFlicks" target="_blank"><img class="github" src="http://www.iconsdb.com/icons/preview/white/github-10-xxl.png"/></a>
  </div>
  <div class="tmdb-holder">
    <a href="https://www.themoviedb.org/" target="_blank"><img class="moviedb" src="https://www.themoviedb.org/assets/static_cache/9b3f9c24d9fd5f297ae433eb33d93514/images/v4/logos/408x161-powered-by-rectangle-green.png"/></a>
  </div>
</div>
