.header-container {
  align-items: center;
  background-color: #8B0000;
  bottom: 5px;
  box-shadow: 0px 3px 4px #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  min-height: 55px;


}

.welcomeGreeting-container {
  display: flex;
  float: right;
  font-size: 10px;
}

.title{
  display: flex;
  background-color: #8B0000;
  color: white;
  padding: 22px;
}

.title:hover{
  background-color: #B22222;
  transition-duration: .4s;
}

.header-button {
  align-items: center;
  background-color: #8B0000;
  box-sizing: border-box;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  max-height: 100%;
  padding: 10px;
  padding-left: 8px;
}

.header-name {
    padding: 10px;
}

.header-button:hover {
  background-color: #B22222;
  transition-duration: .4s;
}

.login:hover , .signup:hover {
  background-color: #B22222;
  transition-duration: .4s;
}

.login, .signup {
  box-sizing: border-box;
  color: white;
  padding: 22px;
}
