.header-container {
  align-items: center;
  background-color: #8B0000;
  bottom: 5px;
  box-shadow: 0px 1px 4px #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  max-height: 45px;
  padding-right: 15px;

}

.welcomeGreeting-container {
  display: flex;
  float: right;
  font-size: 10px;
}

.title{
  display: flex;
  max-width: 300px;
}

.header-button{
  align-items: center;
  background-color: #8B0000;
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  margin: 5px;
  max-height: 100%;
}

.header-button:hover{
  background-color: #B22222;
  transition-duration: .4s;
}

.login:hover , .signup:hover {
  background-color: #B22222;
  transition-duration: .4s;
}

.login, .signup {
  background-color: #8B0000;
  border-radius: 12px;
  color: white;
  text-decoration: none;
  padding: 5px;
}
