.header-container {
  background-color: #8B0000;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  max-height: 45px;
  align-items: center;
  padding-right: 15px;
  bottom: 5px;
  color: white;
  box-shadow: 0px 1px 4px #000000;

}

.welcomeGreeting-container {
  display: flex;
  float: right;
  font-size: 10px;
}

.title{
  display: flex;
  max-width: 300px;
}

.header-button{
  display: flex;
  background-color: #8B0000;

  color: white;
  font-size: 15px;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  max-height: 100%;
  border: none;
  margin: 5px;
}

.header-button:hover{
  transition-duration: .4s;
  background-color: #B22222;
}

.login:hover , .signup:hover {
  transition-duration: .4s;
  background-color: #B22222;

}

.login, .signup {
  color: white;
  text-decoration: none;
  border-radius: 12px;
  padding: 5px;
}
