.login-form{
  color: #8B0000;
  position: absolute;
  bottom: 29px;
  left: 50px;
}

.submit{
  margin-top: 15px;
  margin-bottom: 6px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #8B0000;
  color: white;
  width: 120px;
}

.submit:hover{
  background-color: #B22222;
  transition-duration: .2s;
}

.navlink, .guest{
  right: -50%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  padding: 10px;
  padding-top: 5px;
}

.errors{
  font-size: 10px;
  bottom: 29px;
  margin-right: 45px;
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 194px;
  border: 1px solid red;
  border-radius: 2px;
  background-color: #EEEEEE;
  padding: 15px;
  outline: none;
  box-shadow: 0px 2px 10px #AAAAAA;
  text-align: center;
}

.modal2{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: auto;
  border: 1px solid red;
  border-radius: 2px;
  background-color: #EEEEEE;
  padding: 15px;
  outline: none;
  box-shadow: 0px 2px 10px #AAAAAA;
  text-align: center;
}
