.movie-img{
  max-height: 250px;
  min-height: 250px;
  max-width: 220px;
  min-width: 190px;
}

.movie-img:hover {
  opacity: .3;
}

.add-toMovielist {
  font-family: 'Cinzel', serif;
  padding: 2px 8px;
  margin: 0;
  margin-bottom: 5px;
  background: #010000;
  border-radius: 12px;
  color: white;
  border: none;
}

.add-toMovielist {
  cursor: pointer;
}

.movie-index {
  display: flex;
  justify-content: center;
  max-width: 90%;
}

.movie-list-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 100px;
  flex-direction: row;
}

*{
  margin: 0;
  padding: 0;
}

.movie-index-item h6, h4 {
  margin: 1px;
}

.movie-index-item:hover {
  background-color: black;
  transition-duration: .2s;
}

.movie-index-item {
  padding: 5px;
  max-height: 250px;
  padding-bottom: 25px;
}

.movie-index-item:hover .show-title-rating{
  transition-duration: .2s;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.show-title-rating {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 190px;
  display: none;
  position: relative;
  align-items: center;
  text-align: center;
  bottom: 145px;
  z-index: 1;
}

.outside-movie {
  justify-content: center;
  display: flex;
}

.show h2 {
  padding-top: 30px;
  padding-bottom: 22px;
  color: #FEFEFE;
  height: 10%;
  font-family: 'Cinzel', serif;
  font-weight: 500;
  font-size: 45px;
  margin: -1px;
  text-shadow: 0px 7px 7px #000000;
}

.show {
  text-align: center;
}

.movie-list-item h4, h6{
  color: yellow;
  font-size: 16px;
  z-index: 10;
  background-color: none;
}

.cover {
  background-color: black;
  opacity: .1;
  z-index: 2;
  position: absolute;
}

.movie-index-item:hover .cover {

  z-index: 100;
  background: black;
  opacity: 0.3;
}

a {
  text-decoration: none;
}
