
// .movie-header {
//   // background-image: url('assets/jpg')
//   background-image: url('https://images5.alphacoders.com/399/thumb-1920-399229.png');
//   background-size: cover;
// }
.movielist-view {
  color: white;
}

.selector-list {
  text-align: center;
  font-family: 'Cinzel', serif;
}

.movielist-sidebar {
  background-color: #8B0000;
  display: inline-block;
    font-family: 'Cinzel', serif;
    font-size: 12px;
}

.movielist-list:hover {
  cursor: pointer;
}

.movielist-title {
  padding: 10px;
  font-family: 'Cinzel', serif;
  font-size: 20px;
}
