
// .movie-header {
//   // background-image: url('assets/jpg')
//   background-image: url('https://images5.alphacoders.com/399/thumb-1920-399229.png');
//   background-size: cover;
// }
.movielist-view {
  color: white;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.selector-list {
  text-align: center;
  font-family: 'Cinzel', serif;
}

.movielist-sidebar {
  // background-color: #8B0000;
  display: inline-block;
  font-family: 'Cinzel', serif;
  font-size: 12px;
  width: 190px;
  border-style: double;
}

.movielist-list:hover {
  cursor: pointer;
}

.movielist-title {
  padding: 10px;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  border-bottom: solid;
}

.movielist-wrapper {
  display: flex;
  flex-direction: row;
}

.movielist-list {
  padding: 10px;
}

.movielist-list h5 {
  padding: 5px;
  font-size: 12px;
  letter-spacing: 2px;
}

.movielist:hover h5 {
  color: black;
  transition-duration: .4s;
}

.movielist:hover {
  background-color: white;
  color: black;
  transition-duration: .4s;
}

.add-button {
  color: yellow;
}

.remove-movie{
  cursor: pointer;
  background-color: red;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 10px;
}

.movielist-header {
  margin-top: 28px;
  margin-bottom: 28px;
  font-size: 29px;
  color: yellow;
  height: 10%;
  font-family: 'Cinzel', serif;
  font-weight: 500;
  text-shadow: 0px 7px 7px #000000;
  text-align: center;
  text-shadow: #fff 0 0 10px;
}

.movielist {
  display: flex;
  button {
    color: red;
    border: none;
    background-color: Transparent;
    cursor: pointer;
    font-size: 18px;
  }
}
