.movie-detail-img {
  max-height: 350px;
  min-height: 350px;
  max-width: 250px;
  min-width: 250px;
  padding-left: 20px;
  padding-top: 40px;
}

.movie-detail-container {
  display: flex;
  width: 85vw;
  margin: auto;
  color: 	#808000;
}

.move-detail-cont2 {

}

.movie-detail {
  display: flex;
  text-align: center;

}

.title-detail {
  padding-top: 40px;
  text-align: center;
  margin: 1px;
}

.year-detail {
  margin: 1px;
}

.movie-detail p {
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: center;
}

.rating {
  z-index: 1;

  padding-top: 41px;
}
