.movie-detail-img {
  max-height: 379px;
  min-height: 379px;
  max-width: 273px;
  min-width: 273px;
  padding-left: 20px;
  padding-top: 80px;
}

.movie-detail-container {
  display: flex;
  width: 85vw;
  margin: auto;
  color: 	white;
  font-size: 20px;
}

.movie-detail {
  display: flex;
  text-align: center;

}

.title-detail {
  padding-top: 80px;
  text-align: center;
  margin: 1px;
}

.year-detail {
  margin: 1px;
}

.movie-detail p {
  padding-top: 40px;
  padding-left: 80px;
  padding-right: 80px;
  text-align: left;
  font-family: 'Frank Ruhl Libre', sans-serif;
  line-height:  170%;
  letter-spacing: 1px;
  font-size: 15px;
  min-width: 20px;
}

.rating {
  z-index: 1;
  padding-top: 41px;
}
