
// .movie-header {
//   // background-image: url('assets/jpg')
//   background-image: url('https://images5.alphacoders.com/399/thumb-1920-399229.png');
//   background-size: cover;
// }
.movielist-view {
  color: white;
  display: flex;
  flex-direction: row;
}

.selector-list {
  text-align: center;
  font-family: 'Cinzel', serif;
}

.movielist-sidebar {
  // background-color: #8B0000;
  display: inline-block;
  font-family: 'Cinzel', serif;
  font-size: 12px;
  margin-top: 21px;
  width: 190px;
}

.movielist-list:hover {
  cursor: pointer;
}

.movielist-title {
  padding: 10px;
  font-family: 'Cinzel', serif;
  font-size: 20px;
}

.movielist-wrapper {
  display: flex;
  flex-direction: row;
}

.movielist-list h5 {
  padding: 5px;
  font-size: 12px;
}

.movielist:hover h5 {
  background-color: #B22222;
  transition-duration: .4s;
}

.add-button {
  color: yellow;
}

.remove-movie{
  cursor: pointer;
  background-color: #B22222;
  transition-duration: .2s;
  border-radius: 12px;
  border: none;
  color: white;
}

.movielist-header {
  margin-top: 28px;
  margin-bottom: 28px;
  font-size: 29px;
  color: #cc0000;
  height: 10%;
  font-family: 'Cinzel', serif;
  font-weight: 500;
  text-shadow: 0px 7px 7px #000000;
  text-align: center;
  text-shadow: #fff 0 0 10px;
}

.movielist {
  display: flex;
  button {
    color: white;
    border: none;
    background-color: Transparent;
    cursor: pointer;
  }
}
