.movie-img{
  max-height: 250px;
  min-height: 250px;
  max-width: 220px;
  min-width: 190px;

}

.movie-img:hover {
  opacity: .3;
}

.movie-index {
  display: flex;
  justify-content: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.movie-index-item h6, h4 {
  margin: 1px;
}

.movie-index-item:hover {
  background-color: black;
  transition-duration: .2s;
  padding: 1px;
}

.movie-index-item {
  padding: 5px;
  max-height: 250px;
}

.movie-index-item:hover .show-title-rating{
  transition-duration: .2s;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.show-title-rating {
  display: none;
  position: relative;
  align-items: center;
  text-align: center;
  bottom: 145px;
  z-index: 1;
}
.show-title-rating{

}

.outside-movie {
  justify-content: center;
  display: flex;
}

.show h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #cc0000;
  height: 10%;
  font-family: 'Permanent Marker', cursive;
  font-weight: 300;
  font-size: 38px;
  margin: -1px;
  text-shadow: 0px 7px 7px #000000;
}

.show {
  text-align: center;
}

.movie-list-item h4, h6{
  color: white;
  font-size: 12px;
  z-index: 10;
  background-color: none;
}

.cover {
  background-color: black;
  opacity: .1;
  z-index: 2;
  position: absolute;
}

.movie-index-item:hover .cover {

  z-index: 100;
  background: black;
  opacity: 0.3;
}

a {
  text-decoration: none;
}
