.movie-img{
  max-height: 200px;
  min-height: 220px;
  max-width: 200px;
  min-width: 160px;
}

.movie-index {
  display: flex;
  justify-content: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.movie-index-item h6, h4 {
  margin: 1px;
}


.movie-index-item:hover {
  background-color: grey;
  transition-duration: .3s;
}

.outside-movie {
  justify-content: center;
  display: flex;
}

.show h2 {
  color: 	#4B0082;
  height: 10%;
  font-family: cursive;
  font-size: 33px;
}

.show {
  text-align: center;
}

.movie-list-item h4, h6{
  color: white;
}

a {
  text-decoration: none;
}
