<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://lh3.googleusercontent.com/woa2YK8TbntUguIc88SStbMnRqIp4aapWiRW_tEBSjRCvPmlFKQOiqf7G43PaUK1ry4R=w300">
    <title>Flashflicks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
