<!DOCTYPE html>
<html>
  <head>
    <title>Flashflicks</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="shortcut icon" href="http://res.cloudinary.com/dufjsfgjv/image/upload/v1490032806/bfa_video-camera_simple-red_512x512_m22nmb.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
